body{
    background-image: url(./图片/关于我背景.jpg)
}
.box1{
    background-color: rgba(255, 255, 255, 0.384);
    margin-top: 20em;
    margin-left: 5em;
    margin-right: 5em;
    border: 5px rgba(255, 255, 255, 0.397) solid;
    border-radius: 20px;
    padding: 20px 0;

}
.box1 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box1 p{
    font-family: Arial, Helvetica, sans-serif;
}
.box1 a{
    text-decoration: none;
    color: black;
}