body{
    background-image: url(./图片/关于我背景.jpg);
}
.box1{
    background-color: rgba(255, 255, 255, 0.397);
    margin-top: 20em;
    margin-left: 8em;
    margin-right: 8em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px
}
.box1 a{
    text-decoration: none;
    color: black
}