body{
    background-image: url(./图片/R-C\ \(1\).png);
    padding: 0px;
    margin: 0;
}

.box{
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1{
    margin-left: 20px;
    display: flex;
}

.box1 h1{
    font-weight: lighter;
}

h3{
    font-weight: lighter;
}

.box3{
    background-color: rgba(0, 110, 255, 0.603);
    margin-right: 10px;
}

